// Library
// @import url("../assets/library/fontawesome/css/all.css");
// @import url("../assets/library/fontawesome/fontawesome/fontawesome.css");
// @import url("../assets/library/aos/aos.css");
// @import url("../assets/library/swiper/swiper-bundle.min.css");
// @import url("../assets/library/select2/select2.min.css");
// @import url("../assets/library/gallery/lightgallery.min.css");
// @import url("../assets/library/fancybox/fancybox.css");
// Core
@import "core";
@import "./core/reset";
@import "./core/mona";
@import "./core/font";
@import "./core/base";



// Component
@import "./components/header";
@import "./components/footer";

// Layout
@import "./layouts/btn";

.text {
   text-decoration: underline;
   text-underline-position: under;
}