block mixins
	include ../blocks/mixins
block vars
	-title = 'NamePage'
	-mainClass = ''
	-bodyClass = ''
	-hdClass = ''

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title=title
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="robots", content="index, follow")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0")
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='./css/style.css')
		link(rel='stylesheet' href='./css/backdoor.css')
		link(rel='icon' type='image/png' href='./assets/images/mona.png')
	body(class=bodyClass)
		block header
			include ../blocks/header
		main.main(class=mainClass)
			block container
		block footer
			include ../blocks/footer
		block layer
		include ../blocks/scripts