block variable
	include ../variable/globals
block mixin
	include ../blocks/mixins
block vars
	-title = 'NamePage'
	-mainClass = ''
	-bodyClass = ''
	-hdClass = ''
	-jsLibs= []	
	-jsComponents = []
	-cssLibs = []
	-cssComponents = []
	-cssPages = []
doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title=title
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="robots", content="index, follow")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0")
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='./css/style.css')
		link(rel='icon' type='image/png' href='./assets/images/mona.png')
		block css
			each cssLib in cssLibs
				link(rel='stylesheet' href='./assets/library/'+ cssLib)
			each cssComponent in cssComponents
				link(rel='stylesheet' href='./css/blocks/'+ cssComponent + '.css')
			each cssPage in cssPages
				link(rel='stylesheet' href='./css/pages/'+ cssPage + '.css')
	body(class=bodyClass)
		block header
			include ../blocks/header
		main.main(class=mainClass)
			block container
		block footer
			include ../blocks/footer
		block script 
			each jsLib in jsLibs
				script(src='./assets/library/'+ jsLib)
			script(src='./js/main.js')
			each jsComponent in jsComponents
				script(src='./js/'+ jsComponent + ".js")
			