//- Name library js
- var JsJquery = 'jquery/jquery.js'
- var JsAos = 'aos/aos.js'
- var JsSwiper = 'swiper/swiper-bundle.min.js'
- var JsSelect2 = 'select2/select2.min.js'
- var JsGallery = 'gallery/lightgallery-all.min.js'
- var JsFancybox = 'fancybox/fancybox.umd.js'



//- Name library css
- var CssAos = 'aos/aos.css'
- var CssSwiper = 'swiper/swiper-bundle.min.css'
- var CssSelect2 = 'select2/select2.min.css'
- var CssGallery = 'gallery/lightgallery.min.css'
- var CssFancybox = 'fancybox/fancybox.css'





