extends layout/layout
block vars
    -title = 'Home'
    -mainClass = 'page-home'
    -bodyClass = 'home'
    -hdClass = ''
    -jsLibs = [JsJquery, JsAos, JsSwiper]
    -jsComponents = ['tab', 'banner']
    -cssLibs = [CssAos, CssSwiper]
    -cssComponents = ['banner']
    -cssPages = ['home', 'about']

block container
   