extends layout/layout
block vars
    -title = 'NamePage'
    -mainClass = 'page-template'
    -bodyClass = ''
    -hdClass = ''
    -jsCores = []
    -jsModifiers = []
    -cssModifiers = []

block container